{{>header}}

<main class='race'>
  <h2 class='heading-text'>READY, SET...</h2>

  <form method='post' action='/snail/race'>
    <div class='race-input'>
      <label for=''>Race name
        <input type='text' name='raceName'>
      </label>
      <label for=''>Location
        <input type='text' name='raceLocation'>
      </label>
    </div>
    <div class='race-container'>
    <div class='race-snail'>
      <img src='/snail.png' class='snail-img' alt='A really fast snail'>
      <h3 class='heading-text'>RACER 1</h3>

      <label>
        <!-- retains visibility for screenreaders-->
        <span style='height: 0; overflow: hidden'>RACER 1:</span>
        <select name='racer1' class='btn'>
          <option value='' selected>Chosen Snail</option>
          {{#each racers}}
            <option value='{{id}}'>{{name}}</option>
          {{/each}}
        </select>
      </label>
      <label>
        <!-- retains visibility for screenreaders-->
        <span style='height: 0; overflow: hidden'>ATTRIBUTE:</span>

      <select name='racer1Attribute' class='btn'>
        <option value='' selected>Attribute</option>
        {{#each attributes}}
          <option value='{{this}}'>{{this}}</option>
        {{/each}}
      </select>

      </label>
    </div>

    <button type='submit' class='btn btn-big'>RACE!</button>

    <div class='race-snail'>
      <img src='/snail.png' class='snail-img' alt='A really fast snail'>
      <h3 class='heading-text'>RACER 2</h3>
      <label>
        <!-- retains visibility for screenreaders-->
        <span style='height: 0; overflow: hidden'>RACER 2:</span>
        <select name='racer2' class='btn'>
          <option value='' selected>Chosen Snail</option>
          {{#each racers}}
            <option value='{{id}}'>{{name}}</option>
          {{/each}}
        </select>
      </label>
      <label>
        <!-- retains visibility for screenreaders-->
        <span style='height: 0; overflow: hidden'>ATTRIBUTE:</span>
        <select name='racer2Attribute' class='btn'>
          <option value='' selected>Attribute</option>
          {{#each attributes}}
            <option value='{{this}}'>{{this}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    </div>
  </form>

</main>