{{>header}}

<main class='page-box'>
  {{#if image}}
    <img src='{{image}}' class='snail-img' alt='An image of {{name}}'>
  {{else}}
    <img src='/snail.png' class='snail-img' alt='The coolest snail on the block'>
  {{/if}}
  <h2 class='heading-text'>{{name}}</h2>
  <div class='stats'>
    <p>Top Speed: {{topSpeed}}</p>
    <p>Engine Size: {{engineSize}}</p>
    <p>Cool Factor: {{coolFactor}}</p>
    <p>Innovation: {{innovation}}</p>
    <p>Year Launched: {{year}}</p>
    <p>Wins: {{winCount}}</p>
  </div>

  <div class='btn-container'>
    <button class='btn'><a href='/snail/{{id}}/edit'>Edit racer</a></button>
    <button class='btn'><a href='/snail/{{id}}/delete'>Terminate</a></button>
  </div>
</main>